@import "./reset.css";

html {
  height: 100%;
}
body {
  min-height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}

body,
.main {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 40px;
}

.header,
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px;
  gap: 16px;
  align-items: center;
}

.header {
  backdrop-filter: blur(10px);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.user_logged {
  color: #f4f8fc;
  font-weight: 600;
  font-size: 16px;
}

.header i {
  font-size: 24px;
  cursor: pointer;
}

.header div {
  display: flex;
  gap: 16px;
}

.form_search {
  display: none;
  flex-direction: row;
  align-items: center;
}

.search_text {
  transition: 0.5s;
  color: #f4f8fc;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
}
.search_text::placeholder {
  font-size: 14px;
  color: #f4f8fc;
  font-weight: 500;
}
.fav_link {
  display: none;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.btn-default {
  backdrop-filter: blur(15px);
  padding: 8px 12px;
  border-radius: 16px;
  color: #f4f8fc;
  cursor: pointer;
  font-weight: 600;
}

.btn-selected {
  border: 1px solid #f4f8fc;
}

.movie_about {
  display: none;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: white;
}

.movie_about__title {
  width: 100%;
  max-width: 300px;
}

.movie_about__description {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.movie_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  gap: 16px;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 8px;
  backdrop-filter: blur(10px);
  border-radius: 4px;
  color: #f4f8fc;
  gap: 16px;
}

.movie_overview {
  display: block;
  display: -webkit-box;
  height: 2.6em;
  line-height: 1.3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_action {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media screen and (width >= 768px) {
  .form_search,
  .fav_link,
  .nav {
    display: flex;
  }
  .nav{
    justify-content: start;
  }
  .movie_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: initial;
  }
  
  #menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .movie_list {
    justify-content: space-between;
  }

  .movie {
    width: 200px;
    height: 200px;
  }

  .movie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .movie_overview,
  .movie_title,
  .add-to-favorites, 
  .user_action {
    display: none;
  }

  .movie_about {
    display: flex;
  }
}
