@import "./reset.css";

html {
  height: 100%;
}
body {
  min-height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
}

body,
.main {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  gap: 40px;
}

.header,
.nav,
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px;
  gap: 16px;
  align-items: center;
}

.header {
  backdrop-filter: blur(100px);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.user_logged {
  color: #f4f8fc;
  font-weight: 600;
  font-size: 16px;
}

.header i {
  font-size: 24px;
  cursor: pointer;
}

.form_search {
  display: none;
  flex-direction: row;
  align-items: center;
}

.search_text {
  transition: 0.5s;
  color: #f4f8fc;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
}

.search_text::placeholder {
  font-size: 14px;
  color: #f4f8fc;
  font-weight: 500;
}

.fav_link {
  display: none;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  gap: 40px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: start;
}

.btn-default {
  backdrop-filter: blur(100px);
  padding: 8px 12px;
  border-radius: 16px;
  color: #f4f8fc;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
  gap: 8px;
}

.btn-selected {
  border: 1px solid #f4f8fc;
}

.movie_about {
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  backdrop-filter: blur(100px);
  border-radius: 8px;
  color: white;
}

.movie_about__title {
  width: 100%;
  max-width: 300px;
}

.movie_about__description {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.movie_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  gap: 16px;
  align-items: center;
  margin: 0 auto;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  padding: 8px;
  backdrop-filter: blur(100px);
  border-radius: 4px;
  color: #f4f8fc;
  gap: 16px;
}

.movie_overview {
  display: block;
  display: -webkit-box;
  height: 2.6em;
  line-height: 1.3em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user_action {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer {
  backdrop-filter: blur(100px);
}
.footer p {
  width: 100%;
  text-align: center;
  color: #f4f8fc;
  font-weight: 600;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.spinner {
  border-top: 5px solid #f4f8fc;
  border-right: 5px solid #f4f8fc;
  border-bottom: 5px solid #f4f8fc;
  border-left: 5px solid transparent;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  animation: spin 1s infinite 0s;
}

.dropdown {
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  z-index: 1;
  backdrop-filter: blur(100px);
  gap: 16px;
}

.dropdown__close {
  cursor: pointer;
  align-self: end;
}

.dropdown__search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.dropdown__search input {
  width: 100%;
}

.dropdown_option {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  color: white;
  cursor: pointer;
}

hr {
  width: 100%;
  display: flex;
  height: 1px;
  background-color: #f4f8fc;
}

.no-data {
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  color: #f4f8fc;
  text-align: center;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(100px);
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .form_search,
  .fav_link,
  .nav {
    display: flex;
  }
  .nav {
    justify-content: start;
  }
  .movie_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: initial;
  }

  #menu-icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .movie_list {
    justify-content: space-between;
  }

  .movie {
    width: 200px;
    height: 200px;
  }

  .movie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .movie_overview,
  .movie_title,
  .add-to-favorites,
  .user_action {
    display: none;
  }

  .movie_about {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    padding: initial;
  }
  .movie_list {
    justify-content: start;
  }
}
